.container {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}
body {
  background-size: cover;
}
.navbar-brand {
  padding-left: 1rem;
}
.ownLinks {
  font-weight: bold;
}
.nav-item {
  padding-left: 2rem;
}
.about-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

#projects-section {
  padding-top: 1px;
}

#social-media-section {
  padding-top: 10px;
}

#github-section {
  padding-top: 75px;
}

h2.text-secondary {
  font-size: 36px;
  font-weight: bold;
  color: #636363;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 18px;
  font-weight: normal;
  color: #333;
}
.mensi_mates_font {
  color: rgb(207, 144, 41);
}
.ivan_font {
  color: rgb(184, 48, 48);
}
.mensi_pay_font {
  color: rgb(56, 121, 196);
}
.threeD-BA-Leipzig-Link_font {
  color: rgb(57, 182, 78);
}
.permission_tracker_font {
  color: rgb(8, 217, 214);
}
.slideimage {
  opacity: 0;
  transform: translateY(50px);
  animation: slide-in 1s forwards;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.MensiMates_link {
  color: rgb(207, 144, 41);
}
.MensiMates_link:hover {
  color: rgb(207, 144, 41);
}

.ivan_link {
  color: rgb(184, 48, 48);
}
.ivan_link:hover {
  color: rgb(184, 48, 48);
}
.MensiPay_link {
  color: rgb(56, 121, 196);
}
.MensiPay_link:hover {
  color: rgb(56, 121, 196);
}
.threeD-BA-Leipzig-Link {
  color: rgb(57, 182, 78);
}
.threeD-BA-Leipzig-Link:hover {
  color: rgb(57, 182, 78);
}
.permission_tracker {
  color: rgb(8, 217, 214);
}
.permission_tracker:hover {
  color: rgb(8, 217, 214);
}
.picture-centered {
  display: flex;
  align-items: center;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li {
  display: inline-block;
  margin: 0 15px;
}
.menu a {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
}
.menu a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
.menu a:hover::before {
  transform: scale3d(1, 1, 1);
}
.menu-1 a::before {
  background: #e91e63;
  transform-origin: 100% 50%;
}
.menu-1 a:hover::before {
  transform-origin: 0 50%;
}
#cookieConsentBannerContainer {
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the background color and opacity as needed */
}
