.navbar-brand {
  padding-left: 1rem;
}
.nav-item {
  padding-left: 2rem;
}
.about-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

h2.text-secondary {
  font-size: 36px;
  font-weight: bold;
  color: #636363;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 18px;
  font-weight: normal;
  color: #333;
}
.orangeTextOverride {
  color: rgb(255, 157, 0);
}
.redTextOverride {
  color: red;
}
.blueTextOverride {
  color: rgb(0, 119, 255);
}
.slideimage {
  opacity: 0;
  transform: translateY(50px);
  animation: slide-in 1s forwards;
  border-radius: 5%;
}

.MensiMates_link {
  color: rgb(255, 157, 0);
}
.MensiMates_link:hover {
  color: rgb(255, 157, 0);
}

.MensiDates_link {
  color: red;
}
.MensiDates_link:hover {
  color: red;
}

.MensiPay_link {
  color: rgb(0, 119, 255);
}
.MensiPay_link:hover {
  color: rgb(0, 119, 255);
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
